.news {
  width: 600px;
  height: 700px;
}
.news_img {
  width: 100%;
  height: 40%;
}
.news_img img {
  width: 100%;
  height: 100%;
}
.news_text {
  color: #424242;
}
.news_text h3 {
  color: #d05270;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}
